#{extends 'main.html' /}
#{set title:'About' /}

#{if "${type}" == "member"}
  #{menu id:"about" /}
#{/if}
#{else}
  #{trainermenu id:"about"/}
#{/else}

<section class="ui grid segment">
  <section class="eight wide column middle aligned center aligned">
    <div>
      <span class="ui big text"><strong>BMI Tracker</strong></span>
      <br>
      <br>
      <span class="ui large text">Fill in your assessment week by week and track your BMI. Trainers will comment on your progress and encourage you to keep going!</span>
    </div>
  </section>
  #{rightsideimage /}
</section>